extends ../layout

block beforehtml
  -
    const title = '排球記分板'
    const description = '排球記分板詳細版'

block style
  meta(name="description" content=description)
  meta(property="og:description", content=description)
  style
    :sass
      [v-cloak]
        display: none

      #app
        #score-line
          position: relative
          height: 30px

          .line-win
            width: 1.5px
            height: 30px
            background-color: red
            position: relative
            left: 50%
            transform:  translateX(-50%)
            z-index: 1

          .progress
            top: -30px
            position: relative
            height: 30px
        .player-btn
          width: 22%
        .player-record
          border: none

block content
  include ../navbar
  #app.container.pt-3(v-cloak)
    h3.text-center(@click="btnChangeName") {{ teamA.name }}　VS　{{ teamB.name }}
    h3.text-center {{ teamA.win }}：{{ teamB.win }}
    button.btn.btn-outline-info.btn-lg.d-flex.mx-auto(@click="showScoreBoard = !showScoreBoard") {{ teamA.score }}：{{ teamB.score }}
    #score-line.my-3
      .line-win
      .progress
        .progress-bar.progress-bar-striped.progress-bar-animated(role="progressbar" :style="scoreLineA") {{ teamA.score }}
        .progress-bar.progress-bar-striped.progress-bar-animated.bg-warning.ml-auto(role="progressbar" :style="scoreLineB") {{ teamB.score }}
    #button-group-game.d-flex.justify-content-center.mb-3(v-if="!gameOver")
      button.btn.btn-outline-danger.mr-2(
        v-if="teamA.score === 0 && teamB.score === 0" 
        @click="gameScore -= 1") 減少比分（{{this.gameScore}}）
      button.btn.btn-outline-danger.mr-2(v-else @click="btnSubScore()") 回上一分
      button.btn.btn-outline-danger(@click="init()") 重新計分
      button.btn.btn-outline-success.ml-2(v-if="storyRecords && teamA.score === 0 && teamB.score === 0" @click="btnShowStoryRecord()") 總紀錄
    #button-group-gameover.d-flex.justify-content-around.mb-3(v-else)
      button.btn.btn-outline-primary(@click="init()") 再比一局
      button.btn.btn-outline-success(v-if="storyRecords" @click="btnShowStoryRecord()") 總紀錄
      button.btn.btn-outline-danger(@click="btnNextTeam()") 下一隊

    table.table.table-bordered.table-responsive(v-if="showScoreBoard")
      tbody
        tr(v-for="team in ['A', 'B']" :key="team")
          th.text-nowrap(scopr="row") {{ team === 'A' ? teamA.name : teamB.name }}
          td(v-for="(score, index) in scoreBoard" :key="index") {{ score[team] }}

    #record
      .row
        .col(v-if="!gameOver || (teamA.showRecord && teamA.players.length)")
          .card.mb-3
            .card-body(v-if="!gameOver")
              .d-flex.justify-content-center
                h5.card-title.text-center.m-0.mr-2.d-flex.flex-column.justify-content-center {{ teamA.name }}
                button.btn.btn-outline-primary.mr-2(
                  v-if="teamA.players.length"
                  @click="teamA.showRecord = !teamA.showRecord") {{ teamA.showRecord ? '隱藏紀錄' : '查看紀錄' }}
                button.btn.btn-outline-primary(@click="editPlayerTeamA = !editPlayerTeamA") 球員
              .d-flex.justify-content-center.mt-3(v-if="editPlayerTeamA")
                input.form-control(type="text" placeholder="請輸入球員號碼" v-model="teamA.editPlayer")
                button.btn.btn-outline-primary.mx-2(type="submit" @click="btnUpdatePlayer('teamA', 'add')") +
                button.btn.btn-outline-danger(type="submit" @click="btnUpdatePlayer('teamA', 'delete')") -
              hr
              #players.mb-2
                  button.btn.btn-link(
                    @click="recordPlayer = player"
                    v-for="player in teamA.players" :key="player") {{ player }}
              .d-flex.justify-content-around.mb-2
                button.btn.player-btn.btn-primary(
                  @click="btnUpdateScore('teamA', 'attacks', type)"
                  v-for="type in record.attacks" :key="type") {{ type }}
              .d-flex.justify-content-around
                button.btn.btn-secondary.player-btn(
                  @click="btnUpdateScore('teamA', 'faults', type)"
                  v-for="type in record.faults" :key="type") {{ type }}

            //- 我方球員紀錄
            table.table.table-bordered.table-responsive.m-0.player-record(v-if="teamA.showRecord && teamA.players.length")
              thead
                tr
                  th.text-nowrap(scope="col") {{ teamA.name }}球員紀錄
                  th.text-nowrap.text-center(scope="col" v-for="player in teamA.players" :key="player") {{ player }}
              tbody
                tr(v-for="(type, index) in ['發球', '攻擊', '攔網/接噴', '其他']" :key="type")
                  th(scopr="row") {{ type }}
                  td.text-nowrap.text-center(scope="col" v-for="player in teamA.players" :key="player") {{ _.get(teamA.playerRecord, [player, 'attacks', type], 0) }} / {{ _.get(teamA.playerRecord, [player, 'faults', type], 0) }}
        .col(v-if="!gameOver || (teamB.showRecord && teamB.players.length)")
          .card.mb-3
            .card-body(v-if="!gameOver")
              .d-flex.justify-content-center
                h5.card-title.text-center.m-0.mr-2.d-flex.flex-column.justify-content-center {{ teamB.name }}
                button.btn.btn-outline-primary.mr-2(
                  v-if="teamB.players.length"
                  @click="teamB.showRecord = !teamB.showRecord") {{ teamB.showRecord ? '隱藏紀錄' : '查看紀錄' }}
                button.btn.btn-outline-primary(@click="editPlayerTeamB = !editPlayerTeamB") 球員
              .d-flex.justify-content-center.mt-3(v-if="editPlayerTeamB")
                input.form-control(type="text" placeholder="請輸入球員號碼" v-model="teamB.editPlayer")
                button.btn.btn-outline-primary.mx-2(type="submit" @click="btnUpdatePlayer('teamB', 'add')") +
                button.btn.btn-outline-danger(type="submit" @click="btnUpdatePlayer('teamB', 'delete')") -
              hr
              #players.mb-2
                button.btn.btn-link(
                  @click="recordPlayer = player"
                  v-for="player in teamB.players" :key="player") {{ player }}
              .d-flex.justify-content-around.mb-2
                button.btn.player-btn.btn-warning(
                  @click="btnUpdateScore('teamB', 'attacks', type)"
                  v-for="type in record.attacks" :key="type") {{ type }}
              .d-flex.justify-content-around
                button.btn.btn-secondary.player-btn(
                  @click="btnUpdateScore('teamB', 'faults', type)"
                  v-for="type in record.faults" :key="type") {{ type }}
            //- 敵方球員紀錄
            table.table.table-bordered.table-responsive.m-0.player-record(v-if="teamB.showRecord && teamB.players.length")
              thead
                tr
                  th.text-nowrap(scope="col") {{ teamB.name }}球員紀錄
                  th.text-nowrap.text-center(scope="col" v-for="player in teamB.players" :key="player") {{ player }}
              tbody
                tr(v-for="(type, index) in ['發球', '攻擊', '攔網/接噴', '其他']" :key="type")
                  th(scopr="row") {{ type }}
                  td.text-nowrap.text-center(scope="col" v-for="player in teamB.players" :key="player") {{ _.get(teamB.playerRecord, [player, 'attacks', type], 0) }} / {{ _.get(teamB.playerRecord, [player, 'faults', type], 0) }}

block script
  script.
    const GAME_SCORE = 25 // 比賽分數
    const vm = new Vue({ // eslint-disable-line no-unused-vars
      el: '#app',
      data: {
        editPlayerTeamA: false,
        editPlayerTeamB: false,
        gameScore: 25,
        recordPlayer: null, // 選定的球員
        record: {
          attacks: ['發球', '攻擊', '攔網', '其他'],
          faults: ['發球', '攻擊', '接噴', '其他'],
        },
        scoreBoard: [], // 分數板
        scoreOrder: [], // 紀錄得分順序
        showScoreBoard: true,
        storyRecords: null, // 總紀錄
        teamA: {
          editPlayer: '',
          name: '我方',
          playerRecord: {}, // { 17: { attacks: { 發球: 3 }, faults: { 攻擊: 2 }}}
          players: [],
          score: 0,
          showRecord: false, // 是否顯示球員紀錄
          win: 0,
        },
        teamB: {
          editPlayer: '',
          name: '敵方',
          playerRecord: {},
          players: [],
          score: 0,
          showRecord: false,
          win: 0,
        },
      },
      mounted () {
        this.useAlert()
        this.init()
      },
      computed: {
        scoreLineA () {
          return this.getLineWidth(this.teamA.score)
        },
        scoreLineB () {
          return this.getLineWidth(this.teamB.score)
        },
        gameOver () {
          const scoreA = this.teamA.score
          const scoreB = this.teamB.score
          const la = (scoreA === this.gameScore || scoreB === this.gameScore)
          const duce = (la && Math.abs(scoreA - scoreB) === 1)
          const over = (la && Math.abs(scoreA - scoreB) !== 1) // true: 比賽結束

          if (duce) this.gameScore += 1
          if (over) {
            (scoreA > scoreB) ? this.teamA.win += 1 : this.teamB.win += 1
            this.scoreBoard = _.filter(this.scoreBoard, s => (s.A !== '' || s.B !== ''))
            this.grades()
            this.teamA.showRecord = true
            this.teamB.showRecord = true
          }
          return over
        },
      },
      methods: {
        init () {
          this.gameScore = GAME_SCORE
          this.scoreOrder = []
          this.scoreBoard = _.times(this.gameScore * 2, () => { return { A: '', B: '' } })
          _.each([this.teamA, this.teamB], t => {
            t.score = 0
            t.playerRecord = {}
          })

          this.storyRecords = JSON.parse(localStorage.getItem('scoreboard-detail')) || null
        },
        async btnNextTeam (type = '') {
          const toClear = type === '清除紀錄'
          const result = await this.nextTeamAlert({
            buttonText: toClear ? '清除' : '下一隊',
            text: toClear ? '清除紀錄後將無法挽回！' : '選擇「下一隊」，之前的總紀錄都會消失！你可以先至「總紀錄」截圖保存，再繼續下一隊的比賽。',
          })
          if (!result.isConfirmed) return

          [this.teamA.win, this.teamB.win] = [0, 0]
          localStorage.removeItem('scoreboard-detail')
          this.init()
        },
        getLineWidth (score) {
          return { width: _.toString((score / this.gameScore) * 50) + '%' }
        },
        btnUpdateScore (team, recodeType, type) { // 得失分
          type = (type === '攔網' || type === '接噴') ? '攔網/接噴' : type
          this.updateRecord(team === 'teamA' ? this.teamA : this.teamB, recodeType, type)
          this.updateScoreBoard(team, recodeType)

          // 更新紀錄
          const player = this.recordPlayer || 'team'
          this.scoreOrder.push({
            team,
            type: `${recodeType}.${type}`,
            player,
          })
          this.recordPlayer = null
        },
        updateRecord (team, recodeType, type) {
          _.update(team, ['playerRecord', this.recordPlayer, recodeType, type], n => { return n ? n + 1 : 1 })
          team = Object.assign({}, team)
        },
        updateScoreBoard (team, recodeType, isSub = false) {
          let scoreA = this.teamA.score
          let scoreB = this.teamB.score

          // if A 隊失誤，調整 B 隊分數
          if (recodeType === 'faults') team = team === 'teamA' ? 'teamB' : 'teamA'
          if (!isSub) team === 'teamA' ? scoreA += 1 : scoreB += 1
          else {
            team === 'teamA' ? scoreA -= 1 : scoreB -= 1
            team = '' // 兩隊的紀錄都要變空
          }

          const index = scoreA + scoreB - 1
          this.$set(this.teamA, 'score', scoreA)
          this.$set(this.teamB, 'score', scoreB)
          this.$set(this.scoreBoard, isSub ? index + 1 : index, {
            A: team === 'teamA' ? scoreA : '',
            B: team === 'teamB' ? scoreB : '',
          })
        },
        btnSubScore () { // 扣分，回上一步
          const lastScore = this.scoreOrder.pop() // { team: 'teamA', type: 'attacks.攻擊', player: 17}
          const lastTeamIsTeamA = lastScore.team === 'teamA'
          const lastType = _.split(lastScore.type, '.')[0] // attacks, faults
          let lastTeam = lastTeamIsTeamA ? this.teamA : this.teamB

          _.update(lastTeam, ['playerRecord', lastScore.player, ...(lastScore.type.split('.'))], n => { return n - 1 })
          lastTeam = Object.assign({}, lastTeam)
          this.updateScoreBoard(lastScore.team, lastType, true)
        },
        async btnChangeName () {
          const { value: teamAName } = await Swal.fire({
            cancelButtonText: '取消',
            confirmButtonText: '確定',
            input: 'text',
            inputValue: this.teamA.name,
            showCancelButton: true,
            title: '更改我方隊名',
          })
          const { value: teamBName } = await Swal.fire({
            cancelButtonText: '取消',
            confirmButtonText: '確定',
            input: 'text',
            inputValue: this.teamB.name,
            showCancelButton: true,
            title: '更改敵方隊名',
          })
          this.teamA.name = teamAName || this.teamA.name
          this.teamB.name = teamBName || this.teamB.name
        },
        grades () {
          const tA = {
            attackScore: { 發球: 0, 攻擊: 0, 攔網: 0, 其他: 0 },
            faultScore: { 發球: 0, 攻擊: 0, 接噴: 0, 其他: 0 },
          }
          const tB = {
            attackScore: { 發球: 0, 攻擊: 0, 攔網: 0, 其他: 0 },
            faultScore: { 發球: 0, 攻擊: 0, 接噴: 0, 其他: 0 },
          }
          // 各隊總得失分
          _.each(['teamA', 'teamB'], t => {
            const playerRecord = t === 'teamA' ? this.teamA.playerRecord : this.teamB.playerRecord
            _.each(playerRecord, player => {
              _.each(player.attacks, (val, type) => {
                type = type === '攔網/接噴' ? '攔網' : type
                t === 'teamA' ? tA.attackScore[type] += val : tB.attackScore[type] += val
              })
              _.each(player.faults, (val, type) => {
                type = type === '攔網/接噴' ? '接噴' : type
                t === 'teamA' ? tA.faultScore[type] += val : tB.faultScore[type] += val
              })
            })
          })

          const storyRecordsVal = _.map(this.record, (recodeType, key) => {
            const t = key === 'attacks' ? 'attackScore' : 'faultScore'
            const a = _.zipObject(recodeType, _.map(recodeType, type => { return [..._.get(this.storyRecords, `tADetail.${t}.${type}`, []), tA[t][type]] }))
            const b = _.zipObject(recodeType, _.map(recodeType, type => { return [..._.get(this.storyRecords, `tBDetail.${t}.${type}`, []), tB[t][type]] }))
            return { tA: a, tB: b }
          })
          const newStoryRecords = _.zipObject(['attacks', 'faults'], storyRecordsVal)
          // 儲存每次的紀錄
          this.storyRecords = {
            teamA: this.teamA.name,
            teamB: this.teamB.name,
            score: {
              teamA: [..._.get(this.storyRecords, 'score.teamA', []), this.teamA.score],
              teamB: [..._.get(this.storyRecords, 'score.teamB', []), this.teamB.score],
            },
            tADetail: {
              attackScore: newStoryRecords.attacks.tA,
              faultScore: newStoryRecords.faults.tA,
              faultSum: [..._.get(this.storyRecords, 'tADetail.faultSum', []), _.sum(_.values(tA.faultScore))],
            },
            tBDetail: {
              attackScore: newStoryRecords.attacks.tB,
              faultScore: newStoryRecords.faults.tB,
              faultSum: [..._.get(this.storyRecords, 'tBDetail.faultSum', []), _.sum(_.values(tB.faultScore))],
            },
          }
          localStorage.setItem('scoreboard-detail', JSON.stringify(this.storyRecords))

          Swal.fire({
            html: `<div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">${this.teamA.name}</th>
                    <th scope="col"></th>
                    <th scope="col">${this.teamB.name}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>${this.teamA.score}</td>
                    <th scope="row">得分</th>
                    <td>${this.teamB.score}</td>
                  </tr>
                  <tr>
                    <td>${tA.attackScore['發球']}</td>
                      <th scope="row">發球得分</th>
                    <td>${tB.attackScore['發球']}</td>
                  </tr>
                  <tr>
                    <td>${tA.attackScore['攻擊']}</td>
                    <th scope="row">攻擊得分</th>
                    <td>${tB.attackScore['攻擊']}</td>
                  </tr>
                  <tr>
                    <td>${tA.attackScore['攔網']}</td>
                    <th scope="row">攔網得分</th>
                    <td>${tB.attackScore['攔網']}</td>
                  </tr>
                  <tr>
                    <td>${tA.attackScore['其他']}</td>
                    <th scope="row">其他得分</th>
                    <td>${tB.attackScore['其他']}</td>
                  </tr>
                  <tr>
                    <td>${_.sum(_.values(tB.faultScore))}</td>
                    <th scope="row">對方失誤</th>
                    <td>${_.sum(_.values(tA.faultScore))}</td>
                  </tr>
                  </tbody></table></div>`,
          })
        },
        async btnUpdatePlayer (team, action) {
          team = team === 'teamA' ? this.teamA : this.teamB
          if (!team.editPlayer) {
            this.alert('錯誤', '請輸入球員號碼')
            return
          }
          if (action === 'add') this.addPlayer(team)
          else this.deletePlayer(team)
        },
        async addPlayer (team) {
          const pIndex = _.indexOf(team.players, team.editPlayer)
          if (pIndex !== -1) this.alert('錯誤', `已存在球員「${team.editPlayer}」`)
          else team.players.push(team.editPlayer)
        },
        async deletePlayer (team) {
          const pIndex = _.indexOf(team.players, team.editPlayer)
          if (pIndex === -1) this.alert('錯誤', `不存在球員「${team.editPlayer}」`)
          else {
            const result = await Swal.fire({
              title: '注意',
              showCancelButton: true,
              cancelButtonText: '取消',
              confirmButtonText: '移除',
              text: '移除此球員，並不會清除任何與此球員相關的得失分紀錄',
            })
            if (result.isConfirmed) team.players.splice(pIndex, 1)
          }
        },
        async alert (title, text) {
          Swal.fire({
            title,
            text,
          })
        },
        async nextTeamAlert ({ buttonText, text }) {
          return await Swal.fire({
            title: '注意',
            showCancelButton: true,
            cancelButtonText: '先去截圖',
            confirmButtonText: buttonText,
            text,
          })
        },
        async useAlert () {
          Swal.fire({
            title: '使用說明',
            html: '<div class="text-left"><li>更換隊名：請點擊上方「我方 VS 敵方」</li><li>調整隊員：請點擊「隊員」進行新增、移除</li><li>藍色按鈕為「我方得分」</li><li>黃色按鈕為「敵方得分」</li><li>灰色按鈕為「失分」</li><li>計分：請先選擇得失分隊員，再選得失分按鈕；若無選擇，則計入團隊得失分</li></div>',
          })
        },
        async btnShowStoryRecord () {
          const result = await Swal.fire({
            showCancelButton: true,
            cancelButtonText: '返回',
            confirmButtonText: '清除紀錄',
            html: `<div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">${this.storyRecords.teamA}</th>
                    <th scope="col"></th>
                    <th scope="col">${this.storyRecords.teamB}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>${this.storyRecords.score.teamA.join(' / ')}</td>
                    <th scope="row">總得分</th>
                    <td>${this.storyRecords.score.teamB.join(' / ')}</td>
                  </tr>
                  <tr>
                    <td>${this.storyRecords.tADetail.attackScore['發球'].join(' / ')}</td>
                      <th scope="row">發球</th>
                    <td>${this.storyRecords.tBDetail.attackScore['發球'].join(' / ')}</td>
                  </tr>
                  <tr>
                    <td>${this.storyRecords.tADetail.attackScore['攻擊'].join(' / ')}</td>
                    <th scope="row">攻擊</th>
                    <td>${this.storyRecords.tBDetail.attackScore['攻擊'].join(' / ')}</td>
                  </tr>
                  <tr>
                    <td>${this.storyRecords.tADetail.attackScore['攔網'].join(' / ')}</td>
                    <th scope="row">攔網</th>
                    <td>${this.storyRecords.tBDetail.attackScore['攔網'].join(' / ')}</td>
                  </tr>
                  <tr>
                    <td>${this.storyRecords.tADetail.attackScore['其他'].join(' / ')}</td>
                    <th scope="row">其他</th>
                    <td>${this.storyRecords.tBDetail.attackScore['其他'].join(' / ')}</td>
                  </tr>
                  <tr>
                    <td>${this.storyRecords.tBDetail.faultSum.join(' / ')}</td>
                    <th scope="row">對方失誤</th>
                    <td>${this.storyRecords.tADetail.faultSum.join(' / ')}</td>
                  </tr>
                  </tbody></table>
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">${this.storyRecords.teamA}</th>
                    <th scope="col">失誤</th>
                    <th scope="col">${this.storyRecords.teamB}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>${this.storyRecords.tADetail.faultScore['發球'].join(' / ')}</td>
                      <th scope="row">發球</th>
                    <td>${this.storyRecords.tBDetail.faultScore['發球'].join(' / ')}</td>
                  </tr>
                  <tr>
                    <td>${this.storyRecords.tADetail.faultScore['攻擊'].join(' / ')}</td>
                    <th scope="row">攻擊</th>
                    <td>${this.storyRecords.tBDetail.faultScore['攻擊'].join(' / ')}</td>
                  </tr>
                  <tr>
                    <td>${this.storyRecords.tADetail.faultScore['接噴'].join(' / ')}</td>
                    <th scope="row">接噴</th>
                    <td>${this.storyRecords.tBDetail.faultScore['接噴'].join(' / ')}</td>
                  </tr>
                  <tr>
                    <td>${this.storyRecords.tADetail.faultScore['其他'].join(' / ')}</td>
                    <th scope="row">其他</th>
                    <td>${this.storyRecords.tBDetail.faultScore['其他'].join(' / ')}</td>
                  </tr>
                  </tbody></table></div>`,
          })
          if (result.isConfirmed) this.btnNextTeam('清除紀錄')
        },
      },
    })
